<section class="bg-error">
  <div class="container">
    <div class="container-general py-3">
      <div class="row">
        <div class="col-12">            
            {{#if error }}
            <div class="card">
                <div class="card-header" id="headingOne">  
                  <h1 class="text-center mb-3">Ops,Sorry</h1>
                </div>
                <div class="card-body text-center">
                  <p class="text-center lead">{{ error.message}}</p>
                  <a href="/" class="btn btn-danger m-auto"><i class="fa fa-home"></i> Back to Home</a>
                </div>
              </div>
            {{/if}}
        </div>
      </div>
      </div>
    </div>
</section>