<section class="bg-error">
  <div class="container">
    <div class="row align-items-center mb-4">
      <div class="col-12 col-md-9">
        <h1 class="text-center mb-3">{{title}}</h1>
      </div>
    </div>
    {{#if error }}
     <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            Ops,Sorry
            <br><small class="text-center lead">{{ error.meserrorage}}</small>
          </h2>
          <a href="/" class="btn btn-danger">Home</a>
        </div>
      </div>
    {{/if}}
</section>