body {
    font-family: $font-stack;
    font-size: $font-size;
    color: $text-primary;
    letter-spacing: .5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.btn {
    border-radius: 8px;
}
.form-row>.col, .form-row>[class*=col-] {
    margin-bottom: 1.5rem;
}
.form-row>.col, .form-row>[class*=col-] {
    padding-left: .75rem;
    padding-right: .75rem;
}