body {
  font-family: $font-stack;
  font-size: $font-size;
  color: $text-primary;
  letter-spacing: 0.5px;
}

.h1,h1,.h2,h2,.h3,h3,.h4,h4,.h5,h5,.h6,h6 {
  font-family: $font-headdings;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.btn {
  border-radius: 4px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  margin-bottom: 1.5rem;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.general-container {
  margin: 30px auto;
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  padding: 20px;
  background-color: #f4f3ef;
}

.btn-success {
  color: #fff;
  background-color: $btn-primary;
  border-color: $btn-primary;
   &:hover {
      background-color: $btn-primary-hover;
      border-color: $btn-primary-hover;
   }
}
table {
  background-color: rgba(255, 255, 255, 0.9);
}
hr {
  border-top: 2px solid $ligth-grey;
  width: 90%;
  margin: .5rem auto 1rem;
}

// p {
//   width: 80%;
// }

.btn-danger-box {
  color: red;
  font-size: 14px;
}

.accordion>.card>.card-header {
  border-radius: 4px;
  margin-bottom: 0px;
}

.card {
  background-color: rgba(255, 255, 255, 0.358);
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.btn-general {
  margin-right: 4px;
  margin-left: 4px;;
}

.container {
  min-height: 600px;
  font-size: 12px;
}
