.nav-bread, .breadcrumb {
  background-color: $zink;
  margin-bottom: 0;
  height: 60px;
  line-height: 2.5em;
}
.breadcrumb {
  a {
    color: $text-secondary;
    font-weight: 500;
  }
  span {
    color: $ligth-grey;
  }
}