<section class="bg-address-form">
<div class="container">
  <div class="general-container">
  <div class="row align-items-center mb-4">
    <div class="col-12 col-md-9">
      <h1 class="text-center mb-3">{{title}}</h1>
    </div>
    <div class="col-12">
      <form action="/addresses/new" method="POST" id="addAddress">
        {{> addresses/form }}
        <div class="col-12 offset-md-9 col-md-3 mt-2">
          <button type="submit" class="btn btn-success btn-block">Create</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
</section>