<form action="/dashboard/password" method="POST" class="my-5" > 
  {{#if success}}
    <div class="alert alert-success">
      {{success.message}}
    </div>
  {{/if}}
  {{#if error.validation}}
    <div class="alert alert-danger">
      {{error.validation.message}}
    </div>
  {{/if}}
  <div class="form-row align-items-center">
    <div class="form-group col-12 col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control  {{#if error.password }}is-invalid{{/if}}" id="password" name="password" required>
      {{#if error.password}}
        <div class="invalid-feedback">
          {{error.password.message}}
        </div>
      {{/if}}
    </div>
    <div class="form-group col-12 col-md-6">
      <label for="passwordValidate">Repeat Password</label>
      <input type="password" class="form-control  {{#if error.passwordValidate }}is-invalid{{/if}}" id="passwordValidate" name="passwordValidate" required>
      {{#if error.password}}
        <div class="invalid-feedback">
          {{error.password.message}}
        </div>
      {{/if}}
    </div>
    <div class="col-12 offset-md-9 col-md-3">
      <button type="submit" class="btn btn-success btn-block">Save</button>
    </div>
  </div>
</form>