<div class="container">
  <form action="/password" method="POST" class="my-5" > 
  {{#if success}}
    <div class="alert alert-success">
      {{success.message}}
    </div>
  {{/if}}
  {{#if error.validation}}
    <div class="alert alert-danger">
      {{error.validation.message}}
    </div>
  {{/if}}
  <div class="form-row align-items-center">
    <div class="form-group col-12 col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control  {{#if error.email }}is-invalid{{/if}}" id="email" name="email" required>
      {{#if error.email}}
        <div class="invalid-feedback">
          {{error.email.message}}
        </div>
      {{/if}}
    </div>
    <div class="col-12 offset-md-9 col-md-3">
      <button type="submit" class="btn btn-primary btn-block">Send</button>
    </div>
  </div>
</form>
</div>