.bg-box {
  background-image: url("/img/box1.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
  &_all {
    background-image: url("/img/box1.png");
    background-size: 384px;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.bg-products {
  background-image: url("/img/checklist.png");
  background-attachment: inherit;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.bg-products-form {
  background-image: url("/img/products.png");
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-position-x: right;
}

.bg-address {
  background-image: url("/img/maps.png");
  background-attachment: inherit;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
}

.bg-products-all {
  background-image: url("/img/checklist.png");
  background-attachment: inherit;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.bg-address-form {
  background-image: url("/img/navigation.png");
  background-attachment: inherit;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right;
}

.bg-storage {
  background-image: url("/img/website-setting.png");
  background-attachment: inherit;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.bg-storage-form {
  background-image: url("/img/website-setting.png");
  background-attachment: inherit;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: right;
}
.bg-chat {
  background-image: url("/img/chat.png");
  background-attachment: inherit;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}