$font-stack: 'Raleway',
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-headdings: 'Open Sans',
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$font-size: 14px;

$red: #f4473a;
$light-red: #f96b61;
$white: #FFF;
$ligth-grey: #eee;
$middle-grey: #aaa;
$grey: #606060;
$dark-grey: #292929;
$black: #000;
$zink: #2c2c2c;
$primary: #459b9e;
$primaryDark: #2e6567;

$link-primary: $primary;
$link-secondary: $white;
$link-tertiary: $middle-grey;
$link-fourth: $black;
$link-fifty: $grey;

$btn-primary: $primary;
$btn-primary-hover: $primaryDark;

$text-main: $zink;
$text-primary: $primary !important;
$text-secondary: $white;
$text-tertiary: $middle-grey;
$text-fourty: $black;
$text-fifty: $dark-grey;


$bg-color: #f4f3ef;
$border-color: $grey;
$title-font: "DM Sans", sans-serif;
$body-font: "Source Sans Pro", sans-serif;
$side-title: #5c5e6e;
$button: #8f98a9;