<section class="bg-products-form">
  <div class="container">
    <div class="general-container">
      <div class="row align-items-center mb-4">
        <div class="col-12 col-md-9">
          <h1 class="text-center mb-3">{{title}}</h1>
          <br>
        </div>
        <div class="col-12">
          <form action="/products/{{product._id}}/edit" method="POST" enctype="multipart/form-data">
            <div class="form-row align-items-center">
              {{> products/form }}
              <div class="col-12 offset-md-9 col-md-3 mt-2">
                <button type="submit" class="btn btn-success btn-block">Save</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
          {{> api/boxes/form }}
        </div>
      </div>
    </div>
  </div>
</section>